*{
    margin: 0;
    padding: 0;
}

.navbar {
    height: 120px;
    background-color: white !important;
    border: none !important; 
    margin-bottom: 30px;
}

.collapse {
    overflow: hidden;
    background: url("../img/logo.gif") no-repeat 0% 50% !important;
}

.navbar-header {
        background: url("../img/logo.gif") no-repeat 0% 50% !important;
}


.input-group {
    display: inline;
    width: 30%;
    height: 40px;
    margin-left: 30%;
    margin-top: 20px;
    border: 1px solid block;
}

.input-group input {

    float: left;
    height: 30px;
    width: 80%;
    margin-top: 30px;
}

.input-group button {
    float: left;
    background-color: green;
    height: 30px;
    width: 20%;
    border: none;
    margin-top: 30px;
}

.modal-body {
    width: 800px;
    height:300px;
}

.modal-header {
    border: none !important;
}

.modal-header button {
    display: inline;
    background: white;
    float: right;
    padding: 0 !important;
    margin: 0 !important;
}
.typeleft {
    float: left;
}
.typeright {
    float: left;
}
#checkbox {
    margin-left: 30px;
    margin-top: 20px;
}

.typeright img {
    margin-left: 30px;
    display: block;
}

#username {
    background: url("../img/登录界面_0000_图层-00.png") no-repeat 0% 50%;
    display: block;
    height: 40px;
    width: 300px;
    margin: 10px 30px;
    padding-left:90px;
    border: 1px solid grey;
}

#password {
    background: url("../img/登录界面_0000_图层-01.png") no-repeat 0% 50%;
    display: block;
    height: 40px;
    width: 300px;
    margin: 10px 30px;
    padding-left:90px;
    border: 1px solid grey;
}

#logon {
    float: right;
    display: inline;
    overflow: hidden;
    width: 150px;
    line-height: 40px;
    background: green;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    margin-right: 30px;
}

#myModalLabel {
    margin-left: 30px;
}

#h4 {
    margin-left: 20px;
}

#count {
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

#typea {
    background: url("../img/登录界面_0000_图层-03.png") no-repeat 0% 50%;
    padding-left:30px;
    margin-right: 10px;
}

#typeb {
    background: url("../img/登录界面_0000_图层-04.png") no-repeat 0% 50%;
    padding-left:30px;
    margin-left: 10px;
}

#lefta {
    float: left;
    margin-left: 30px;
    margin-top:20px;
    margin-bottom: 30px;
    color: grey;
}

#righta {
    float: right;
    margin-right: 30px;
    margin-top:20px;
    margin-bottom: 30px;
    color: grey;
}


#header-photo {
    background: black;
    color: white;
    overflow: hidden;
}

#header-p {


}

#carousel-example-generic {
    float: left;

}

.right {
    float: right;
}

.right h1 {
    margin: 1em;
}

.right1 {
    float: left;
    margin: 2em;
}

.right2 {
    float: right;
    margin: 2em;
}

.chance{
    height: 100px;
    background: gainsboro;
}

.chance h2 {
    float: left;
    margin-right: 5%;
    border-left: 5px solid red;
    padding-left:10px;
}

#bp1 {
    background:  url("../img/21.png") no-repeat  50% 30%;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    padding-top: 70px;
    margin-right: 10%;
}

#bp2 {
    background:  url("../img/22.png") no-repeat  50% 30%;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    padding-top: 70px;
    margin-right: 10%;
}

#bp3 {
    background:  url("../img/23.png") no-repeat  50% 30%;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    padding-top: 70px;
    margin-right: 10%;
}

#bp4 {
    background:  url("../img/24.png") no-repeat  50% 30%;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    padding-top: 70px;
    margin-right: 10%;
}

#bp5 {
    background:  url("../img/25.png") no-repeat  50% 30%;
    height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    padding-top: 70px;
}

section {
    float: left;
    margin-bottom: 30px;
    margin-right: 50px;
}

aside {
    float: left;
    width: 30%;

}

.aside {
    border:1px solid red;
    margin-top:2em;
    margin-bottom: 2em;

}

#pho {
    display: block;
    overflow: hidden;
    clear: both;
    padding-left: 10px;
}

.aside h4 {
    color: red;
    font-size: 15px;
    margin: 1em;
    display: inline;
    float: left;
}

.aside span {
    float: right;
    margin: 1em;
}

.aside h2 {
    font-size: 50px;
    display: inline;
    color: red;
}


.aside p {
    display: inline;
}

.aside b {
    display: inline;
    margin: 1em;
    float: left;
    font-weight: normal;
}

.aside strong {
    display: block;
    clear: both;
    color: red;
    text-align: center;
}

.pl {
    padding-left: 1em;
}

.butt {
    width: 280px;
    line-height: 36px;
    border-radius: 20px;
    background: red;
    text-align: center;
    margin: 1em auto;

}

.butt a {
    color: white;
}

hr {
    clear: both;
}
 

footer {
    height: 200px;
    margin: 0 auto;
    color: black;
}

#footer-img {
    margin: 0px;
}

footer ul.nav {
    float: left;
    margin-left: 45px;
}

footer a {
    color: black;
}

footer p {
    clear: both;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}